*{
    margin: 0;
    padding: 0;

}

 .sidebar{
    background-color:rgb(170, 165, 165);
    width:10vw;
    height:100vh;
}




.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration:none;
}

.main{
   /* background-color: pink;*/
}

.container{
    display: flex;

}

.infocontainer{
  /* background-color: greenyellow;*/
    height:68vh;
    width: 80vw;
    margin:144px auto;
    display: flex;
    justify-content: space-around;

}
 .devinfo{
    display: flex;
    justify-content:center;
    flex-direction:column;
 }

 .hello{
    font-size:65px;
 }

 .name{
    font-size:55px;
    font-weight: bold;
 }

 .about{
    font-size:40px;
 }

 .moreabout{
    font-weight: bold;
 }

 .button{
    margin-top:34px;
 }

 .buttons button{
    padding:9px 14px;
    border-radius:22px;
    color:white;
    background-color: dodgerblue;
    font-weight:bold;
    font-size:15px;
    margin:0 3px;
    cursor:pointer;

 }

 .buttons button:hover{
    background-color:white;
    color: dodgerblue;
 }

.devpic img{
    height:58vh;
    border-radius:50%;
}




img {
   --s: 15px;  /* size of the frame */
   --b: 2px;   /* border thickness */
   --w: 200px; /* width of the image */
   --c: #7B3B3B;
   
   width: var(--w);
   aspect-ratio: 1;
   object-fit: cover;
   padding: calc(2*var(--s));
   --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
   background:
     linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
     linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
   outline: calc(var(--w)/2) solid #0009;
   outline-offset: calc(var(--w)/-2 - 2*var(--s));
   transition: .4s;
   cursor: pointer;
 }
 img:hover {
   outline: var(--b) solid var(--c);
   outline-offset: calc(var(--s)/-2);
   --_i: calc(100% - 2*var(--s));
 }
 
 body {
  /* margin: 0;
   min-height: 100vh;
   display: grid;
   place-content: center;
   align-items: center;
   grid-auto-flow: column;
   gap: 20px;
   background: #e8e8e8;*/
   
      background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
      background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
      background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
     -moz-animation: Gradient 15s ease infinite;
     animation: Gradient 15s ease infinite;
     /*min-height: calc(100vh - 2rem);*/
     display: flex;
     flex-direction: column;
     align-items: stretch;
     justify-content: space-evenly;
     overflow: hidden;
     position: relative; 
  }
  
  body::before, 
  body::after {
     content: "";
     width: 70vmax;
     height: 70vmax;
     position: absolute;
     background: rgba(255, 255, 255, 0.07);
     left: -20vmin;
     top: -20vmin;
     animation: morph 15s linear infinite alternate, spin 20s linear infinite;
     z-index: 1;
     will-change: border-radius, transform;
     transform-origin: 55% 55%;
     pointer-events: none; 
  }
     
  body::after {
      width: 70vmin;
      height: 70vmin;
      left: auto;
      right: -10vmin;
      top: auto;
      bottom: 0;
      animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
      transform-origin: 20% 20%; 
  }
  
  @-webkit-keyframes Gradient {
     0% {
        background-position: 0 50%
     }
     50% {
        background-position: 100% 50%
     }
     100% {
        background-position: 0 50%
     }
  }
  
  @-moz-keyframes Gradient {
     0% {
        background-position: 0 50%
     }
     50% {
        background-position: 100% 50%
     }
     100% {
        background-position: 0 50%
     }
  }
  
  @keyframes Gradient {
     0% {
        background-position: 0 50%
     }
     50% {
        background-position: 100% 50%
     }
     100% {
        background-position: 0 50%
     }
  }
  
  @keyframes morph {
    0% {
      border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
    100% {
      border-radius: 40% 60%; } 
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn); 
    } 
  }
     .st0{display:none;}
     .st1{display:inline;}
     .st2{opacity:0.29;}
     .st3{fill:#FFFFFF;}
     .st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
     .st5{clip-path:url(#SVGID_4_);}
     .st6{clip-path:url(#SVGID_6_);}
     .st7{clip-path:url(#SVGID_8_);}
     .st8{clip-path:url(#SVGID_10_);}
     .st9{fill:none;}
     .st10{clip-path:url(#SVGID_12_);}
     .st11{opacity:0.7;}
     .st12{clip-path:url(#SVGID_14_);}
     .st13{opacity:0.2;}
     .st14{clip-path:url(#SVGID_16_);}
     .st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}
 }
 body, html, #app {
   margin: 0;
   width: 100%;
   height: 100%;
 }
 
 #app {
   overflow: hidden;
   touch-action: pan-up;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
 }
 
 #app h1 {
   --fontSize: 60px;
   --lineHeight: 80px;
   width: auto;
   height: calc(2 * var(--lineHeight));
   line-height: var(--lineHeight);
   margin: calc(50vh - var(--lineHeight)) auto 0;
   font-size: var(--fontSize);
   text-transform: uppercase;
 }
 
 #app a {
   margin-top: 10px;
   display: inline-block;
   text-decoration: none;
   color: #fff;
 }
 
 #app canvas {
   display: block;
   position: fixed;
   z-index: -1;
   top: 0;
 }

/*body {
   background: #000000;
   margin: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
#particles:after{
   content: " ";
   position: absolute;
   top: -2000px;
   width: 2px;
   height: 2px;
   background: transparent;
   border-radius: 100%;
}


